<!-- header.html -->
<nav class="navbar navbar-expand-lg bg-light shadow-sm sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Food Inventory</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
      aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="{% url 'home' %}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_category' %}">Categories</a>
        </li>
        <!--         
        <li class="nav-item">
          <a class="nav-link" href="{% url 'search_food' %}"  value="{{ query }}">Search</a>
        </li> -->
        <form class="d-flex" method="get" action="{% url 'search_food' %}">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q"
            value="{{ query }}">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stock_overview' %}">Stock Overview</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'expiring_soon' %}">Expiring Soon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'shopping_list' %}">Shopping List</a>
        </li>
      </ul>

      <div class="d-flex align-items-center gap-3">
        <a href="{% url 'add_food' %}" class="btn btn-add">+ Add Item</a>
        <a class="help-icon" title="Help">
          <!-- SVG for help icon here -->
        </a>
      </div>
    </div>
  </div>
</nav>